[Unit]
Description=pgpool-II
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/pgpool
ExecStart=/usr/bin/pgpool -f /etc/pgpool-II/pgpool.conf $OPTS

[Install]
WantedBy=multi-user.target
