ul#navlist
	{
	width: 158px>;
	\width: 160px;
	w\idth: 158px;
	padding: 0px;
	border: 1px solid #808080;
	border-top: 0px;
	margin: 0px;
	font: bold 12px verdana,helvetica,arial,sans-serif;
	background: #808080;
	}
	
	ul#navlist li
	{
	list-style: none;
	margin: 0px;
	border: 0px;
	border-top: 1px solid #808080;
	font-size:7pt;
	}
	
	ul#navlist li a
	{
	display: block;
	width: 122px;
	\width: 158px;
	w\idth: 122px;
	padding: 4px 8px 4px 8px;
	border: 0px;
	border-left: 20px solid #aaaabb;
	background: #ccccdd;
	text-decoration: none;
	text-align: right;
	
	}
	
	ul#navlist li a:link { color: #666677; }
	div#navcontainer li a:visited { color: #666677; }
	
	ul#navlist li a:hover
	{
	border-color: #ff9000;
	color: #ffffff;
	background: #000d33;
	}

	ul#navlist li > ul
	{
	margin-left: 0px;
	padding-left: 0px;
	}
	ul#navlist li > ul li a {
	border-left: 20px solid #B9B9CE;
	background: #DEDEEF;
	}
	
/* --------------------------- */
#menu {
	border-right:1px dotted #cccccc;
	float: left;
	padding-top: 20px;
}
#navcontainer {
	margin-bottom: 20px;
}
#manual {
	border-left:1px dotted #cccccc;
	width: 800px;
	float: left;
}
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	margin: 0px;
	color: black;
	border-left: 20px solid #ccc;
}
pre {
	background-color:#f0f0f0;
	color: brown;
	padding: 5px;
	margin-left:40px;
	margin-right:30px;
 	word-wrap: break-word;
 	word-break: break-all;
	overflow: auto;
}
h1 {
	margin-top: 50px;
	border-bottom: 2px solid #6699CC;
	padding: 5px;
	margin-left:10px;
	background:#6699CC;
	color: #ffffff;
}
h2 {
	margin-top: 30px;
	padding: 5px;
	margin-left:30px;
	background: #8CD8E2;
}

h3 {
	margin-top: 30px;
	border: 2px solid #8CD8E2;
	border-left: 10px solid #8CD8E2;
	padding: 5px;
	margin-left:40px;
	background: #F4F8F1;
}

h4 {
	border-bottom: 2px solid #8CD8E2;
	padding: 5px;
	margin-left:40px;
	background: #F4F8F1;
}

p {
	margin: 3px 25px 3px 40px;
	text-indent: 1em;
}

li p, dd p {
	text-indent: 0em;
	color: black;
}

ul, ol,dl {
	margin-left:40px;
	padding-right: 30px;
}
dt {
	font-weight:bold;
}

ul li {
	padding-right: 30px;
	list-style:square;
	color: #663333;
}

ul li ul li {
	list-style: circle;
}

ul li ol li {
	list-style: decimal;
}


ol li {
	padding-right: 30px;
	color: #663333;
}


table {
	margin-left:40px;
	border-collapse: collapse;
	border: #666666 1px solid;
	margin-bottom: 10px;
}
th, td {
	padding: 5px;
	font-size:10pt;
}
th {
	font-weight: normal;
	background-color: #eeeeee;
}
th.nodec {
	text-align: left;
	white-space: nowrap;
}
tr.header th {
	font-weight: bold;
	background-color: #cccccc;
	border-bottom: double;
}
tr.center td {
	text-align: center;
}

dd {
	margin-left: 0px;
}
	a:link { color: blue; }
	a:hover { color: red; }

p.top_link {
	text-align: right;
}
p.top_link a {
	text-decoration: none;
	border: #aaaaaa 1px solid;
	border-radius: 3px;
	background-color: #eeeeee;
	padding: 1px 5px;
	color: #666666;
}
.header_small {
	font-size: 0.9em;
	background-color: #f0f0f0;
	
}
.header_text {
	border-bottom: 2px solid #663366;
	padding: 5px;
	background-color: #E9F8F8;	
	font-size: 2em;
	font-weight:bold;
	padding:25px;
}

.copyright {
	padding: 5px;
	padding:25px;
	text-align:center;
}
.version {
	font-size: smaller;
	font-weight: bold;
	border: 1px solid #B27F00;
	background-color: orange;
	padding: 1px 3px;
	border-radius: 3px;
	color: white;
}
h1 .version {
	border-radius: 5px;
	border-color: white;
}
.version_notice {
	border-left: 7px solid orange;
	border-right: 5px solid orange;
	padding: 5px;
}
.caution {
	font-weight: bold;
	color: red;
}
dl.flat dt {
	clear: both;
	float: left;
	width: 40px;
	line-height: 150%;
}
dl.flat dd {
	padding-left: 50px;
	line-height: 150%;
}
dl.flat dd * {
	margin-left: 0px;
}
li dl dt {
	font-weight: normal;
	display: list-item;
	list-style: square outside;
}
li dl dd {
	margin-bottom: 10px;
}
ul.flat_ul {
	margin: 0px;
	list-style-type: none;
}
ul.flat_ul li {
	display: inline-block;
	border: 1px solid #666;
	border-radius: 3px;
	width: 100px;
	margin: 3px;
	padding: 0px;
	text-align: center;
}
ul.flat_ul li a {
	text-decoration: none;
}
