/clean
/regression.log
/log/
/temp/
/tests/010.rewrite_timestamp/timestamp/result/
/tests/010.rewrite_timestamp/timestamp/test.diff
/tests/010.rewrite_timestamp/timestamp/timestamp-test
/tests/024.cert_auth/certrecord/
/tests/024.cert_auth/crl_openssl.conf
/tests/024.cert_auth/crl_session.log
/tests/024.cert_auth/crlnumber
/tests/024.cert_auth/crlnumber.old
/tests/024.cert_auth/frontend.crt
/tests/024.cert_auth/frontend.key
/tests/024.cert_auth/frontend.req
/tests/024.cert_auth/index.txt
/tests/024.cert_auth/index.txt.attr
/tests/024.cert_auth/index.txt.attr.old
/tests/024.cert_auth/index.txt.old
/tests/024.cert_auth/root.crt
/tests/024.cert_auth/root.key
/tests/024.cert_auth/serial
/tests/024.cert_auth/serial.old
/tests/024.cert_auth/server.crl
/tests/024.cert_auth/server.crt
/tests/024.cert_auth/server.key
/tests/024.cert_auth/server.req
/tests/024.cert_auth/server_revoked.crl
/tests/029.cert_passphrase/frontend.crt
/tests/029.cert_passphrase/frontend.key
/tests/029.cert_passphrase/postgresql.req
/tests/029.cert_passphrase/root.crt
/tests/029.cert_passphrase/root.key
/tests/029.cert_passphrase/root.srl
/tests/029.cert_passphrase/server.crt
/tests/029.cert_passphrase/server.key
/tests/029.cert_passphrase/server.req
